<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <h1>Fatec Ipiranga</h1>
    <img src="assets/logo.png" alt="image">

    <table class= "table table-hover table-striped">
      <thead>
        <tr>
          <th scope="col">Curso</th>
          <th scope="col">Horário</th>
        </tr>
    </thead>
      <tbody>
        <tr>
          <th scope="row">Análise e Desenvolvimento de Sistemas</th>
          <td> Tarde 13H00 as 18H30 / Noite 19H00 as 22H40 </td>
        </tr>
        <tr>

          <th scope="row">Eventos</th>
          <td> Manhã 8H00 as 13H30 </td>
        </tr>

        <tr>
          <th scope="row">Gestão Comercial</th>
          <td> Manhã 8H00 as 13H30 / Noite 19H00 as 22H40</td>
        </tr>

        <tr>
          <th scope="row">Recursos Humanos</th>
          <td> Noite 19H00 as 22H40</td>
        </tr>

        <tr>
          <th scope="row">Gestão Empresarial</th>
          <td> EAD – Ensino distância </td>
        </tr>

      </tbody>
    </table>
  </div>

</body>
</html>

